<div style="width:700px">
  <h1 style="text-align:center">Welcome to the Simple Neural Network Demo</h1>
  <div [ngStyle]="{ 'position': 'relative', 'left.px': 10 }">
    <div>
      <a routerLink="/part1">Part 1</a>
      <span> - Setup a basic neural network. Learn how to stimulate the network and update connection weights.</span>
    </div>
    <div>
      <a routerLink="/part2">Part 2</a>
      <span> - Learn how to add/remove neurons and connections in the network.</span>
    </div>
    <div>
      <a routerLink="/part3">Part 3</a>
      <span> - Learn how to define an input signal to the network.</span>
    </div>
  </div>
</div>
