
<svg overflow="visible">
  <circle class="neuron-hole"
    [attr.cx]="150*neuron.layer+marginLeft"
    [attr.cy]="150*neuron.position+marginTop"
    r="30"
    fill="#fff"></circle>

  <circle class="neuron-ring"
    [attr.cx]="150*neuron.layer+marginLeft"
    [attr.cy]="150*neuron.position+marginTop"
    r="30"
    fill="transparent"
    stroke="#d2d3d4"
    stroke-width="3"></circle>

  <circle class="neuron-potential"
    [attr.cx]="150*neuron.layer+marginLeft"
    [attr.cy]="150*neuron.position+marginTop"
    r="30"
    fill="transparent"
    stroke="blue"
    stroke-width="3"
    [attr.stroke-dasharray]="potential + ' ' + (100 - potential)"></circle>
</svg>
<p [ngStyle]="{
  'position': 'relative',
  'top.px': 150*neuron.position + marginTop - 178,
  'left.px': 150*neuron.layer+marginLeft-8
}">{{ potential }}</p>

