
<svg>
  <circle class="neuron-hole"
    [attr.cx]="neuron.positionX"
    [attr.cy]="neuron.positionY"
    r="30"
    fill="#fff"></circle>

  <circle class="neuron-ring"
    [attr.cx]="neuron.positionX"
    [attr.cy]="neuron.positionY"
    r="30"
    fill="transparent"
    stroke="#d2d3d4"
    stroke-width="3"></circle>

  <circle class="neuron-potential"
    [attr.cx]="neuron.positionX"
    [attr.cy]="neuron.positionY"
    r="30"
    fill="transparent"
    stroke="blue"
    stroke-width="3"
    [attr.stroke-dasharray]="potential + ' ' + (100 - potential)"></circle>
</svg>
<button (click)="selectNeuron()"
  [ngStyle]="{
    'position': 'absolute',
    'left.px': neuron.positionX - 30,
    'top.px': neuron.positionY - 30,
    'border-radius': '50%',
    'width': '60px',
    'height': '60px',
    'background-color': selected ? 'orange' : 'transparent',
    'border': 'none',
    'z-index': 3
  }">{{ potential }}
</button>
<button mat-raised-button color="warn" (click)="removeNeuron()"
  [ngStyle]="{
    'position': 'absolute',
    'left.px': neuron.positionX - 50,
    'top.px': neuron.positionY + 20,
    'display': selected ? 'block' : 'none',
    'z-index': 4
  }">Remove
</button>

