<div [ngStyle]="{ 'width': '700px' }">
  <h1 style="text-align:center">Part 3 (In Progress...)</h1>
  <a routerLink="/part2" style="position:relative;z-index:1">Part 2</a><a routerLink="/part4" style="float:right">Part 4</a>
  <p>In part 3, we will add the ability to define an input signal to the neural network. Instead of pressing a button to stimulate the neuron, the stimulation pattern is defined ahead of time and you play the stimulation pattern by pressing the button.</p>
  <p>Right now, the neuron is set to stimulate the neuron 3 times in a 5 second window. Try pressing play.</p>
  <p>You can update the pattern by clicking the pencil icon next to the play button. This will bring a window where you can click to add additional stimulation and change the time scale.</p>
</div>
<div
  *ngIf="{
    layers: networkConfig.layers$ | async,
    neurons: networkConfig.neurons$ | async,
    connections: networkConfig.connections$ | async,
    neighbors: networkConfig.unconnectedNeighbors$ | async
  } as data"
  style="position:absolute">
  <button type="button" (click)="stimulateBaseNeuron($event)"
    [ngStyle]="{
      'position': 'absolute',
      'left.px': 210,
      'top.px': 30
    }"
  >Stimulate First Neuron</button>
  <input [(ngModel)]="baseWeight"
    [ngStyle]="{
      'background-color': 'green',
      'color': 'white',
      'position': 'absolute',
      'left.px': 370,
      'width.px': 25,
      'top.px': 30
    }"/>
  <button (click)="addLayer($event)"
    [ngStyle]="{
      'position': 'absolute',
      'height.px': getLayerHeight(data.layers ?? []) - 75,
      'margin-left.px': ((data.layers ?? []).length)*150,
      'margin-top.px': 70,
      'background-color': 'light-grey'
    }">Add Layer
  </button>
  <div [ngStyle]="{ 'position': 'relative', 'top.px': getLayerHeight(data.layers ?? []), 'left.px': -40, 'font-weight': 'bold' }">
    <span *ngFor="let layer of data.layers">
      <span [ngStyle]="{ 'padding-left.px': 100, 'font-size.px': 16, 'font-family': 'Times New Roman' }">Layer {{layer.position}}</span>
    </span>
    <br>
    <div [ngStyle]="{ 'margin-left':'5px', 'display': (data.layers ?? []).length < 2 ? 'none' : 'inline' }" >
      <span *ngFor="let layer of data.layers">
        <button (click)="removeLayer(layer)" [ngStyle]="{ 'margin-left.px': 92, 'font-size.px': 13.5, 'font-family': 'Times New Roman' }">Remove</button>
      </span>
    </div>
    <div style="margin-left:20px" >
      <span *ngFor="let layer of data.layers">
        <button (click)="addNeuron(layer)" [ngStyle]="{ 'margin-left.px': 69.5, 'font-size.px': 13.5, 'font-family': 'Times New Roman' }">Add Neuron</button>
      </span>
    </div>
  </div>
  <div *ngFor="let neuron of data.neurons">
    <neuron
      [neuron]="neuron"
      (neuronEvent)="neuronEvent($event)">
    </neuron>
  </div>
  <div *ngFor="let connect of data.connections">
    <connection
      [neuronConnection]="connect"
      (connectionEvent)="connectionEvent($event)">
    </connection>
  </div>
  <div *ngFor="let neighbor of data.neighbors">
    <button [ngStyle]="{ 'position': 'absolute', 'left.px': (neighbor.neuron1.positionX+neighbor.neuron2.positionX)/2 - 20, 'top.px': (neighbor.neuron1.positionY+neighbor.neuron2.positionY)/2 - 2.5 }"
      (click)="addConnection(neighbor.neuron1, neighbor.neuron2)">Add Connection
    </button>
  </div>
</div>

