<div [ngStyle]="{ 'width': '700px' }">
  <h1 style="text-align:center">Part 2</h1>
  <a routerLink="/part1" style="position:relative;z-index:1">Part 1</a><a routerLink="/part3" style="float:right">Part 3</a>
  <p>You can now add layers and neurons to each of the layers in the network. Try adding a few more neurons to the network.</p>
  <p>In addition, you can remove the added neurons by selecting the neuron and clicking the trash can icon.</p>
  <p>Lastly, you can add connections to your new neurons. First select one neuron, select a second neuron, and then click "Add Connection".
    Click a neuron second time to de-select it. Note: You can now add connections to neurons a few layers ahead or within the same layer.</p>
</div>
<div
  *ngIf="{
    layers: networkConfig.layers$ | async,
    neurons: networkConfig.neurons$ | async,
    connections: networkConfig.connections$ | async,
    neighbors: networkConfig.unconnectedNeighbors$ | async
  } as data"
  style="position:absolute">
  <button mat-raised-button color="primary" (click)="stimulateBaseNeuron($event)"
    [ngStyle]="{
      'position': 'absolute',
      'left.px': 210,
      'top.px': 20
    }"
  >Stimulate First Neuron</button>
  <input [(ngModel)]="baseWeight"
    [ngStyle]="{
      'background-color': 'green',
      'color': 'white',
      'position': 'absolute',
      'left.px': 420,
      'width.px': 25,
      'top.px': 30
    }"/>
  <div [ngStyle]="{ 'position': 'relative', 'top.px': getLayerHeight(data.layers ?? []), 'left.px': -20, 'font-weight': 'bold' }">
    <span *ngFor="let layer of data.layers">
      <span [ngStyle]="{ 'padding-left.px': 95, 'font-size.px': 16, 'font-family': 'Times New Roman' }">Layer {{layer.position}}</span>
    </span>
    <br>
    <div [ngStyle]="{ 'margin-left':'5px', 'display': (data.layers ?? []).length < 2 ? 'none' : 'inline' }" >
      <span *ngFor="let layer of data.layers">
        <button mat-raised-button color="warn" (click)="removeLayer(layer)" [ngStyle]="{ 'margin-left.px': 67, 'font-size.px': 13.5, 'font-family': 'Times New Roman' }">Remove</button>
      </span>
    </div>
    <div style="margin-left:20px" >
      <span *ngFor="let layer of data.layers">
        <button mat-raised-button color="primary" (click)="addNeuron(layer)" [ngStyle]="{ 'margin-left.px': 40, 'font-size.px': 13.5, 'font-family': 'Times New Roman' }">Add Neuron</button>
      </span>
    </div>
  </div>
  <div *ngFor="let neuron of data.neurons">
    <neuron
      [ngStyle]="{'z-index': 3}"
      [neuron]="neuron"
      (neuronEvent)="neuronEvent($event)">
    </neuron>
  </div>
  <div *ngFor="let connect of data.connections">
    <connection
      [ngStyle]="{'z-index': 4}"
      [neuronConnection]="connect"
      (connectionEvent)="connectionEvent($event)">
    </connection>
  </div>
  <div *ngFor="let neighbor of data.neighbors">
    <button [ngStyle]="{ 'position': 'absolute', 'left.px': (neighbor.neuron1.positionX+neighbor.neuron2.positionX)/2 - 20, 'top.px': (neighbor.neuron1.positionY+neighbor.neuron2.positionY)/2 - 2.5 }"
      (click)="addConnection(neighbor.neuron1, neighbor.neuron2)">Add Connection
    </button>
  </div>
  <button mat-raised-button (click)="addLayer($event)"
    [ngStyle]="{
      'position': 'absolute',
      'height.px': getLayerHeight(data.layers ?? []) - 75,
      'left.px': ((data.layers ?? []).length)*160,
      'top.px': 70,
      'background-color': 'light-grey',
      'z-index': 2
    }">Add Layer
  </button>
</div>

