<svg overflow="visible">
  <line class="connection-line"
    [attr.x1]="150*neuronConnection.inputNeuron.layer+230"
    [attr.x2]="150*neuronConnection.outputNeuron.layer+170"
    [attr.y1]="150*neuronConnection.inputNeuron.position+100"
    [attr.y2]="150*neuronConnection.outputNeuron.position+100"
    stroke="black"></line>
  <circle class="connection-end"
    [attr.cx]="150*neuronConnection.outputNeuron.layer+170"
    [attr.cy]="150*neuronConnection.outputNeuron.position+100"
    r="5"
    stroke="black"></circle>
</svg>
<input [(ngModel)]="weight" (keyup.enter)="updateWeight($event)" (blur)="updateWeight($event)"
  [ngStyle]="{
    'background-color': 'green',
    'position': 'relative',
    'top.px': 50*(neuronConnection.outputNeuron.position+2*neuronConnection.inputNeuron.position)-50,
    'left.px': 150*(neuronConnection.inputNeuron.layer) - 60,
    'width.px': 25
  }"/>
