<svg>
  <line class="connection-line"
    [attr.x1]="neuronConnection.positionX1"
    [attr.x2]="neuronConnection.positionX2"
    [attr.y1]="neuronConnection.positionY1"
    [attr.y2]="neuronConnection.positionY2"
    [attr.stroke]="selected ? 'orange' : 'black'">
  </line>
  <circle class="connection-end"
    [attr.cx]="neuronConnection.positionX2"
    [attr.cy]="neuronConnection.positionY2"
    r="5"
    [attr.stroke]="selected ? 'orange' : 'black'"
    [style.fill]="selected ? 'orange' : 'black'">
  </circle>
</svg>
<input [(ngModel)]="weight" (keyup.enter)="updateWeight($event)" (blur)="updateWeight($event)"
  [ngStyle]="{
    'background-color': 'green',
    'color': 'white',
    'position': 'absolute',
    'top.px': neuronConnection.positionY1 + (neuronConnection.positionY2 - neuronConnection.positionY1)/5 - 12,
    'left.px': neuronConnection.positionX1 + (neuronConnection.positionX2 - neuronConnection.positionX1)/5,
    'width.px': 25,
    'z-index': 3
  }"/>
<button (click)="selectConnection()"
  class="line-button"
  [ngStyle]="{
    'position': 'absolute',
    'top.px': (neuronConnection.positionY1 + neuronConnection.positionY2)/2 - 5,
    'left.px': neuronConnection.lineButtonX,
    'width.px': neuronConnection.lineWidth,
    'height': '5px',
    'transform': neuronConnection.lineButtonTransform,
    'z-index': 2
  }">
</button>
<button mat-raised-button color="warn" (click)="removeConnection()"
  [ngStyle]="{
    'position': 'absolute',
    'top.px': (neuronConnection.positionY1 + neuronConnection.positionY2)/2,
    'left.px': (neuronConnection.positionX1 + neuronConnection.positionX2)/2,
    'display': selected ? 'block' : 'none',
    'z-index': 2
  }">Remove
</button>
