<svg overflow="visible">
  <line class="connection-line"
    [attr.x1]="150*neuronConnection.inputNeuron.layer+marginLeft+30"
    [attr.x2]="150*neuronConnection.outputNeuron.layer+marginLeft-30"
    [attr.y1]="150*neuronConnection.inputNeuron.position+marginTop"
    [attr.y2]="150*neuronConnection.outputNeuron.position+marginTop"
    stroke="black"></line>
  <circle class="connection-end"
    [attr.cx]="150*neuronConnection.outputNeuron.layer+marginLeft-30"
    [attr.cy]="150*neuronConnection.outputNeuron.position+marginTop"
    r="5"
    stroke="black"></circle>
</svg>
<input [(ngModel)]="weight" (keyup.enter)="updateWeight($event)" (blur)="updateWeight($event)"
  [ngStyle]="{
    'background-color': 'green',
    'color': 'white',
    'position': 'relative',
    'top.px': 50*(neuronConnection.outputNeuron.position+2*neuronConnection.inputNeuron.position)+marginTop-150,
    'left.px': 150*(neuronConnection.inputNeuron.layer)+marginLeft - 260,
    'width.px': 25
  }"/>
