<router-outlet></router-outlet>
<neuron id="0" [layer]="this.neuron0.layer" [position]="this.neuron0.position"></neuron>
<neuron id="1" [layer]="this.neuron1.layer" [position]="this.neuron1.position"></neuron>
<neuron id="2" [layer]="this.neuron2.layer" [position]="this.neuron2.position"></neuron>
<neuron id="3" [layer]="this.neuron3.layer" [position]="this.neuron3.position"></neuron>
<neuron id="4" [layer]="this.neuron4.layer" [position]="this.neuron4.position"></neuron>
<neuron id="5" [layer]="this.neuron5.layer" [position]="this.neuron5.position"></neuron>
<neuron id="6" [layer]="this.neuron6.layer" [position]="this.neuron6.position"></neuron>
<neuron id="7" [layer]="this.neuron7.layer" [position]="this.neuron7.position"></neuron>
<div *ngFor="let connect of connections">
  <connection [neuronConnection]="connect"></connection>
</div>
